title RueChat
script(type='text/javascript', src='/socket.io/socket.io.js')
link(rel='stylesheet', href='static/lib/angular-material/angular-material.min.css')
link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
link(rel='stylesheet', href='static/styles/main.css')