doctype html
html(ng-app="rueChat", ng-controller="mainCtrl", lang="en")
  include ./header.jade
  body(layout="row")
    md-sidenav.site-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id="left", md-is-locked-open="$mdMedia('gt-sm')", tabindex="-1", ng-hide="!currentUser")
      md-toolbar.nav-header.md-whiteframe-z2(layout="column", layout-padding, style="height:64px;")
        div(layout="row")
          md-button.md-fab()
            i.material-icons(style="margin-top:16px;") tag_faces
          h2.md-heading(style="margin-top: 0px;margin-left: 13px;") {{currentUser.username}}
          span(flex)
          md-button(style="min-width: 72px;top: -10px;", ng-click="logout()") Logout
      md-content
        div(layout="column", layout-margin)
          md-list
            md-divider
            md-input-container(style="width: 100%;margin-bottom:-20px;")
              label Search chatroom
              input(type="text", ng-model="searchQuery", flex="100", style="margin-top:10px;")
            md-subheader.md-no-sticky(ng-hide="searchQuery.length == 0") Search results
              md-list-item(ng-repeat="room in roomList | filter:searchQuery")
                div.md-list-item-text(layout="column", ng-click="joinRoom(room)")
                  h3 {{ room }}
            md-subheader.md-no-sticky Active chats
              md-list-item(ng-repeat="chat in roomLog")
                div.md-list-item-text(layout="column", ng-click="switchRoom(chat)")
                  h3 {{ chat.room }}
                  p(ng-bind="chat.log[chat.log.length - 1].content")
            md-divider
      md-content(flex, role="navigation")
        ul.menu
    div(layout="column", tabindex="-1", role="main", flex, ng-view)
    include ./footer.jade