md-toolbar.contet-toolbar.md-whiteframe-z2
	div.md-toolbar-tools(tabindex="-1")
		button.md-icon-button.md-button.md-ink-ripple.hide-gt-sm(type="button", ng-click="openMenu()", hide-gt-sm, aria-label="")
			<i class="material-icons">menu</i>
		h3 {{ currentRoom }}
		span(flex)
		md-button(style="min-width:40px;line-height:1;", ng-click="more()", ng-hide="!currentRoom.length")
			i.material-icons more_horiz
		md-button(style="min-width:40px;line-height:1;", ng-click="leaveRoom(currentRoom)", ng-hide="!currentRoom.length")
			i.material-icons close
md-content(md-scroll-y, layout="row", flex)
	div(layout="column", flex)
		div.md-whiteframe-z2.chat(flex, ng-repeat="room in roomLog", ng-hide="room.room != currentRoom", style="min-height: calc(100vh - 160px);overflow-y:scroll;")
			ul.messages(flex, chat-update)
				li.message(ng-repeat="msg in room.log")
					div.chatMsg(layout="row", ng-class="{myMessage: msg.username == $root.currentUser.username, fromThem: msg.username != $root.currentUser.username}")
						p.md-body-1
							{{ msg.content }}
						date
							b {{ msg.username }}
		div(flex, ng-hide="!roomLog.length", layout="row")
			md-input-container.md-block(flex)
				input(ng-model="newMsg.content", md-maxlength="300", ng-enter='sendMsg(event)', md-autofocus)
				div(ng-messages="newMsg.$error")
					div(ng-message="spam") No spam allowed!
			md-input-container
				md-button(ng-click="sendMsg()") Enviar msj
	md-sidenav.md-sidenav-right.md-whiteframe-z2(style="z-index:1;", md-component-id="right", md-is-locked-open="$mdMedia('gt-sm')", tabindex="-1")
		md-toolbar(layout-padding,style="height:64px;")
			h3.md-subhead() Advanced view
		md-content(layout-padding, layout="column")
			md-input-container
				label Search user in room
				input(type="text", ng-model="userQuery")
			md-list(ng-repeat="room in roomLog", ng-hide="room.room != currentRoom", style="min-height: calc(100vh - 360px);")
				md-list-item(ng-repeat="user in room.users | filter:userQuery")
					img.md-avatar(alt="{{ user.username }}", ng-src="{{ user.img }}")
					p {{ user.username }}
					md-checkbox(ng-model="user.selected", ng-show="newGroupChat && user.username != $root.currentUser.username", ng-click="keepOpen()")
					md-button(style="min-width:40px;line-height:1;",ng-click="pmUser(user)", ng-hide="user.username == $root.currentUser.username")
						i.material-icons chat
			div(layout="row", style="min-width: 100px;min-height: 100px;width: 300px;margin-left: auto;margin-right: auto;")
				md-fab-speed-dial.md-fling(md-open="newGroupChat", md-direction="right")
					md-fab-trigger(flex)
						md-button.md-fab(flex, style="min-width:40px;line-height:1;")
							i.material-icons(ng-hide="newGroupChat") group
							i.material-icons(ng-show="newGroupChat") close
					md-fab-actions
						md-button.md-fab(style="min-width:40px;line-height:1;", ng-click="groupChat()")
							i.material-icons chat_bubble_outline
						md-button.md-fab(ng-disabled="true", style="min-width:40px;line-height:1;")
							i.material-icons mic
						md-button.md-fab(ng-disabled="true", style="min-width:40px;line-height:1;")
							i.material-icons voice_chat